h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  background-color: #ffffff;
  color: #212121;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.nav-block__link,
.contact-nav__link,
.project__link,
.footer-list__link {
  font-weight: 500;
  font-family: inherit;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: #2196f3;
}

.nav-block__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-block__link:hover, .nav-block__link:focus {
  color: #2196f3;
}

.socnetwork__link {
  display: flex;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socnetwork__link:hover, .socnetwork__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.clients-box__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box__link:focus, .clients-box__link:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.project__link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footer-list__link {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-network__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-network__link:focus, .footer-network__link:hover {
  background-color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-block {
  display: flex;
}

.nav-block {
  display: flex;
  align-items: center;
}

.nav-block__list {
  display: flex;
}

.nav-block__item + .nav-block__item {
  margin-left: 50px;
}

.nav-block__item:first-child {
  margin-left: 93px;
}

.contact-nav__list {
  display: flex;
  margin-left: auto;
}

.contact-nav__item + .contact-nav__item {
  margin-left: 50px;
}

.contact-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:focus, .logo:hover {
  color: #2196f3;
}

.logo-accent {
  color: #2196f3;
}

.footer-logo {
  color: #ffffff;
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fonhero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border-style: none;
  display: block;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.features {
  display: flex;
}

.features__item {
  width: 270px;
}

.features__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features__item + .features__item {
  margin-left: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.work {
  padding-top: 0;
}

.foto-box {
  display: flex;
}

.foto-box__item {
  position: relative;
}

.foto-box__item + .foto-box__item {
  margin-left: 30px;
}

.foto-box__image {
  display: block;
}

.foto-box__name {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 2;
}

.foto-box__text {
  font-weight: 700;
  line-height: 1, 142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team-box {
  display: flex;
}

.team-box__item + .team-box__item {
  margin-left: 30px;
}

.team-box__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-box__wrapper {
  padding: 30px 32px;
}

.team-box__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-box__profession {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.socnetwork {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients-box {
  display: flex;
  justify-content: space-between;
}

.clients-box__item {
  width: 170px;
  height: 92px;
}

.button-project {
  display: flex;
  justify-content: center;
}

.button-project__item:not(:last-child) {
  margin-right: 8px;
}

.button-project__button {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-project__button:hover, .button-project__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__img {
  display: block;
}

.project {
  margin-top: 50px;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
}

.project__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__type {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.project__box {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  background: #ffffff;
}

.project__overlay {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.project__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project__link:hover .project__wrapper,
.project__link:focus .project__wrapper {
  transform: translateY(0);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  color: #ffffff;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer .container {
  display: flex;
}

.address {
  margin-top: 20px;
  font-style: inherit;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-list__item {
  margin-top: 9px;
}

.footer-network__title,
.footer-form__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-network {
  margin-left: 70px;
}

.footer-network__list {
  display: flex;
  width: 206px;
  justify-content: space-between;
}

.footer-network__item {
  width: 44px;
  height: 44px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  z-index: 3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.4);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: currentColor;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: inherit;
}

.footer-form {
  margin-left: auto;
}

.footer-form__mail {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: #ffffff;
  cursor: pointer;
}

.footer-form__mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  padding: 8px 27px;
  margin-left: 12px;
  background: #2196f3;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.footer-form__icon {
  margin-left: 10px;
}

.form__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.textarea {
  margin-bottom: 20px;
}

.form__text {
  margin-bottom: 4px;
  color: #757575;
}

.form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:hover .form__input,
.form__field:focus .form__input {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.form__icon {
  position: absolute;
  top: 65%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:hover .form__icon,
.form__field:focus .form__icon {
  fill: #2196f3;
}

.form__feedback {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:hover .form__feedback,
.form__field:focus .form__feedback {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.policy {
  position: relative;
}

.policy__checkbox {
  appearance: none;
}

.policy__text {
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy__link {
  color: #2196f3;
}

.policy__icon {
  position: absolute;
  top: 5px;
  left: 13px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-size: contain;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__checkbox:checked + .policy__text .policy__icon {
  background-color: #2196f3;
  border: none;
}

.form__button {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 8px 54px;
  margin-right: auto;
  margin-left: auto;
  background: #2196f3;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */