$text-color: #757575;
$pretty-color: #212121;
$accent-color: #2196f3;
$primery-color: #ffffff;
$accent-background: #f5f4fa;
$icon-color: #afb1b8;
$main-font: "Roboto", sans-serif;
$accent-font: "Raleway", sans-serif;
