.team {
  background-color: $accent-background;
}
.team-box {
  display: flex;
}
.team-box__item + .team-box__item {
  margin-left: 30px;
}
.team-box__item {
  background: $primery-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-box__wrapper {
  padding: 30px 32px;
}
.team-box__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.team-box__profession {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $text-color;
  text-align: center;
}
.socnetwork {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
