.clients-box {
  @extend %list;
  @media screen and (min-width: 480px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.clients-box__item {
  height: 92px;
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    width: 210px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
