.features {
  display: flex;
}
.features__item {
  width: 270px;
}
.features__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: $accent-background;
}
.features__item + .features__item {
  margin-left: 30px;
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $text-color;
}
